{{!< default}}

<div class="site-background">
	{{#foreach posts }}
	<div class="post-image" data-target="{{ remove_slashes url }}" style="background-image: url( '{{ image }}' );"></div>
	{{/foreach}}
</div>

<header class="site-header">
	 <h1 class="site-title"><a href="{{ @blog.url }}">Koen Dirk van Esterik</a></h1>
</header>

<main class="content" role="main">
	{{#foreach posts }}
	<article class="{{ post_class }}" role="article" itemscope itemtype="http://schema.org/Article">
		<header class="post-header">
			<ul class="post-meta">
				{{#foreach tags }}
				<li>{{ name }}</li>
				{{/foreach}}
			</ul>
			<h2 class="post-title" itemprop="headline"><a id="{{ remove_slashes url }}" class="post-link" href="{{ url }}" rel="bookmark">{{{ title }}}</a></h2>
		</header>
	</article>
	{{/foreach}}
</main>

<footer class="site-footer">
	<p>{{ @blog.description }}</p>
	<ul>
		<li>
			<script type="text/javascript">
			//<![CDATA[
			<!--
			var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
			"=50){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
			".substr(0,ol);}f(\")41,\\\"NDH[SN610\\\\AQ000\\\\200\\\\310\\\\400\\\\-YD9F" +
			"?_400\\\\410\\\\+7)|y600\\\\474x>=!7%#* ,: 8 ,)#*/300\\\\-'.V400\\\\RHWSXU5" +
			"20\\\\j010\\\\RV@Y020\\\\N220\\\\710\\\\400\\\\EFLSLQV1iu|z`p~k\\\"(f};o nr" +
			"uter};))++y(^)i(tAedoCrahc.x(edoCrahCmorf.gnirtS=+o;721=%y;++y)41<i(fi{)++i" +
			";l<i;0=i(rof;htgnel.x=l,\\\"\\\"=o,i rav{)y,x(f noitcnuf\")"                 ;
			while(x=eval(x));
			//-->
			//]]>
			</script>
		</li>
		<li><a href="https://nl.linkedin.com/in/kdesterik" target="_blank">LinkedIn</a></li>
		<li><a href="https://twitter.com/kdesterik" target="_blank">Twitter</a></li>
	</ul>
</footer>

<script src="{{ asset "js/index.js" }}"></script>
