{{!< default}}

{{#post}}
<header class="site-header">
	<p class="site-title"><a href="{{ @blog.url }}">{{ @blog.title }}</a><br><span itemprop="headline">{{ title }}</span></p>
</header>

<main class="content" role="main">
	<article class="{{ post_class }}" role="article" itemscope itemtype="http://schema.org/Article">
		<div class="post-content" itemprop="articleBody">

			{{#section_wrap}}{{ content }}{{/section_wrap}}

		</div>
	</article>
</main>

<footer class="site-footer">
	<ul>
		<li><a href="{{ @blog.url }}">Index</a></li>
		{{#prev_post}}<li><a href="{{ url }}">Next</a></li>{{/prev_post}}
		{{#next_post}}<li><a href="{{ url }}">Previous</a></li>{{/next_post}}
	</ul>
</footer>
{{/post}}