{{!< default}}

{{#post}}
<header class="site-header">
	<p class="site-title"><a href="{{ @blog.url }}">{{ @blog.title }}</a></p>
	<h1 class="post-title" itemprop="headline">{{ title }}</h1>
</header>

<main class="content" role="main">
	<article class="{{ post_class }}" role="article" itemscope itemtype="http://schema.org/Article">
		<div class="post-content" itemprop="articleBody">
			{{#process_post}}{{ content }}{{/process_post}}
		</div>
	</article>
</main>

<footer class="site-footer">
	<ul>
		<li><a href="{{ @blog.url }}">Index</a></li>
		{{#prev_post}}<li><a href="{{ url }}">Next</a></li>{{/prev_post}}
		{{#next_post}}<li><a href="{{ url }}">Previous</a></li>{{/next_post}}
	</ul>
</footer>
{{/post}}

<script src="{{ asset "js/post.js" }}"></script>
